<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Contact Information</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            302 Jacobs Management Center <br>
            School of Management <br>
            Buffalo, NY 14260-4000 
          </li>
          <li>
            Email: xunyiwan@buffalo.edu
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>Google Scholar: <a href="https://scholar.google.com/citations?user=zQEykPwAAAAJ&hl=en" target="_blank">Google Scholar</a></li>
          <li>Github: <a href="https://github.com/xunyiwang" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
